{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Article {% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
<div class='container'>
    <div class="card" style="width:700px;">
     <!-- Preview Image -->
    <img src={{post.image}}  class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
         <!-- Category -->
    <span class="badge badge-secondary">{{ post.category.name }}</span>
    <!-- Post Content -->
        <p class="card-text">{{post.content}}</p>
        <!-- Author and date -->
        <div class="card-footer"> créé le {{post.createdAt|date("d/m/Y") }} par {{post.author}} </div>
    </div>
    </div>

    <!-- Formulaire d'ajout de commentaire -->
    <div class="card my-4">
        <h5 class="card-header">Laissez un commentaire:</h5>
        <div class="card-body">
            {{ form_start(form, {'attr':{'id':'comment-form'}}) }}
            {{ form_widget(form) }}
            <input type="submit" value="Envoyer mon commentaire">
            {{ form_end(form) }}
        </div>
    </div>

        <!-- List of comments -->
    {% if post.comments|length == 0 %}
        <p>Soyez le premier à commenter cet article !</p>
    {% else %}
        {% for comment in post.comments %}
            
            <div>
            <div>{{comment.user}} le {{comment.createdAt|date("d/m/Y")}}</div>
            <div>{{comment.content}}</div>
            </div>
        {% endfor %}
    {%  endif %}
</div>

{% endblock %}

        {% block javascripts %} {{ parent() }}

        <!-- Script personnel global -->
        <script src="{{ asset('js/post.js') }}"></script>

        {% endblock %}
